<div class='top'>
  <div class='top-user'>
    <div class='top-message'>
      <h4 class='top-user-info'>サインインしていません</h4>
    </div>
    <div class='top-list'>
      <%= link_to 'ログイン', new_user_session_path, method: :get , class: "login" %>
      <%= link_to '新規登録', new_user_registration_path, method: :get , class: "sign-up" %>
    </div>
  </div>
  <div class='top-image'>
    <%= image_tag 'top_image2.jpg', class:'top-image-sale'%>
  </div>
</div>